:root {
  --primary-background-color: #254ba0;
  --secondary-background-color: #eaeaea;
  --link-bachground-color: #17ace4;
  --navigation-bar-color: #404040;
  --primary-font-color: white;
  --secondary-font-color: #244ba0;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --default-font-family: "Ubuntu Mono", monospace;
  --title-font-family: "Fugaz One", cursive;
}

body {
  font-family: var(--default-font-family);
}

h1,
.brand-name,
.project-title {
  font-family: var(--title-font-family);
}

.navigation-bar {
  background-color: var(--navigation-bar-color);
}

.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
  padding: 160px 20px;
  display: block;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-size: 36px;
  font-weight: bold;
}

.hero h3 {
  font-size: 24px;
  font-weight: normal;
}

.project-info {
  padding: 15px 7.5px;
}

.project-title {
  background-color: var(--primary-background-color);
  border-radius: 4px;
  padding: 15px 20px;
  color: white;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--link-bachground-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  padding: 50px;
  background-color: var(--secondary-background-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }

  h2,
  h3 {
    font-size: 35px;
  }

  p {
    text-align: center;
  }

  .hero {
    padding: 80px 20px;
  }
}
